.RegisterPopup-container {
    background-color: white;
    padding: 20px;
    width: 500px;
    border: 1px solid black;
    opacity: 92%;
    border-radius: 20px;
}

.RegisterPopup-close{
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.RegisterPopup-form-wrapper {
    width: 70%;
    margin: 0 auto;
}

.RegisterPopup-container h3 {
    text-align: center;
    font-size: 30px;
}

.RegisterPopup-container p {
    display: inline;
}


.RegisterPopup-button {
    margin-top: 20px;
    text-align: right;
}

.RegisterPopup-links {
    margin-top: 20px;
}

.RegisterPopup-login {
    color: #E46E00;
    background-color: white;
    border: none;
    display: inline;
    margin-left: 10px;
    cursor: pointer;
}