Description=app for finding flatmantes and student quarters
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/apps/finder
ExecStart=/usr/bin/docker-compose up
Restart=always

[Install]
WantedBy=multi-user.target