.LandingPage-image {
    width: 100%;
}

.LandingPage-title {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 40%;
    left: 30%;
}

.LandingPage-button {
    color: white;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
    background-color: #E46E00;
    position: absolute;
    top: 60%;
    left: 50%;
}

.LandingPage-popup-container {
    z-index: 20;
    position: absolute;
    top: 36%;
    left: 37%;
}