.LoginPopup-container {
    background-color: white;
    padding: 20px;
    width: 500px;
    border: 1px solid black;
}

/* https://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div */
.LoginPopup-form-wrapper {
    width: 70%;
    margin: 0 auto;
}

.LoginPopup-container h3 {
    text-align: center;
    font-size: 30px;
}

.LoginPopup-container p {
    display: inline;
}

.LoginPopup-links {
    margin-top: 20px;
}

.LoginPopup-register {
    color: #E46E00;
    margin-left: 10px;
}

.LoginPopup-forgot {
    color: #E46E00;
    margin-left: 70px;
}

.LoginPopup-button {
    margin-top: 20px;
    text-align: right;
}