.App {
  background-color: #E5E5E5;
}

.App-nav {
  margin: 0;
  padding-bottom: 20px;
  overflow: hidden;
}

.App-nav li {
  float: right;
  list-style-type: none;
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  margin-right: 10px;
}

.App-nav li a {
  display: block;
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
  color: black;
}

.App-logo {
  font-family: 'Nova Slim', cursive;
  margin: 0;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 35px;
}