* {
  margin: 0;
  padding: 0;
}

/* https://joshwcomeau.com/css/css-variables-for-react-devs/ */
html {
  --color-orange: #E46E00;
  --color-grey: #E5E5E5;
  --color-dark-grey: #C4C4C4;
}

body {
  font-family: 'Lato', sans-serif;
  /* overflow: hidden; */
  background-color: #E5E5E5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
