* {
  margin: 0;
  padding: 0;
}

/* https://joshwcomeau.com/css/css-variables-for-react-devs/ */
html {
  --color-orange: #E46E00;
  --color-grey: #E5E5E5;
}

body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
