/* https://joshwcomeau.com/css/css-variables-for-react-devs/ */
html {
  --color-orange: #E46E00;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
